[Unit]
Description = rtmpbroadcast

[Service]
ExecStart = /home/pi/install/rtmpbroadcast/rtmpbroadcast.sh
#Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
