[Unit]
Description=Sample Daemon
After=rc-local.service
[Service]
ExecStart=/usr/bin/python /home/pi/SCRIPT/slider2/water_leak_detecte.py
Restart=always
Type=forking
PIDFile=/var/run/water_leak_detecte.pid
[Install]
WantedBy=multi-user.target
